/* Style sheet for Balu project, Cardiff, October 2017
This CSS is written for mobile-first, i.e. max-wdtih:400px*/

/* Remove default browser settings */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Default text options (across the site) */

html {
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
}

p {
  display: none;
  /* No p elements displayed by default - display property used to show elements depending on screen width */
  color: rgb(61, 58, 49);
  /* charcoal */
  padding: 1%;
  text-align: justify;
  font-size: 1.2em;
}

p:first-child {
  display: flex;
}

ul.story {
  display: none;
}

div.text {
  margin: 1% 2%;
  padding: 5px 5px;
}

p.download {
  display: inline-block;
}

/* Headings */

h1, h2 {
  color: rgb(43, 216, 197);
  /* Balu blue */
}

h1 {
  text-align: center;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

/* Lists */

ul.dirlist-mobile {
  list-style: none;
  text-align: center;
  justify-content: center;
}

ul.story {
  list-style: square;
  list-style-position: inside;
  text-align: left;
  font-size: 1.2em;
  color: rgb(61, 58, 49);
  /* charcoal */
  margin-left: 1vw;
}

/* Read-more */

.read-more a:link, .read-more a:visited {
  text-decoration: none;
  color: rgb(43, 216, 197);
}

.read-more a:hover, .read-more a:active {
  text-decoration: none;
  background-color: rgb(43, 216, 197);
  color: white;
}

p.read-more {
  display: flex;
}

/* Social media */

/* attributes common to all social media images go here */

/* list items containing social media images */

.social-img {
  padding: 2px;
  min-width: 70px;
  min-height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

/* social media icons */

.facebook {
  background-image: url("imagelib/facebook.png");
}

.facebook:hover {
  background-image: url("imagelib/facebook_black.png");
}

.mailto {
  background-image: url("imagelib/email.png");
}

.mailto:hover {
  background-image: url("imagelib/email_black.png");
}

.twitter {
  background-image: url("imagelib/twitter.png");
}

.twitter:hover {
  background-image: url("imagelib/twitter_black.png");
}

.instagram {
  background-image: url("imagelib/instagram.png");
}

.instagram:hover {
  background-image: url("imagelib/instagram_black.png");
}

li.social-img {
  margin: 0% 4% 0% 4%;
}

ul.social-link {
  min-width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}

.social-link a:link, .social-link a:visited {
  text-decoration: none;
}

/* outer container for social media icons */

#social {
  display: flex;
  flex-direction: row;
}

/* inner containers for social media icons - to create a row or grid depending on screen width */

div.socmed-container-l1, div.socmed-container-l2 {
  display: flex;
  padding: 10px 2px;
}

div.socmed-container-l1 {
  flex-direction: column;
}

div.socmed-container-l2 {
  flex-direction: row;
}

/* Body and containers */

body {
  width: 100vw;
  background-color: white;
}

.container-overall, .container-l1, .container-l2, .container-l3, .container-l4, .container-master {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.container-overall, div.container-master {
  max-width: 95vw;
}

.container-l1, .container-l2, .container-l3, .container-l4 {
  padding: 2px;
  margin: 4px 10px;
}

.container-l4, .container-l1 {
  /* maintain symmetry at top and bottom of page */
  padding-bottom: 1vh;
}

.col {
  max-width: 100vw;
}

.container-master {
  background-color: white;
}

/* Images */

.feature-img {
  display: block;
  margin: auto;
  padding: 3%;
  max-width: 100%;
}

div.image {
  display: block;
}

/* Footer */

footer {
  background-color: #706f6f;
  width: 100%;
}

footer p.icon-attribution {
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
  color: white;
  padding: 5% 5% 5% 5%;
  display: block;
}

footer a:link, footer a:visited {
  color: white;
}

footer a:hover, footer a:active {
  background-color: white;
  color: #706f6f;
}

/* Navigation */

.fg-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #706f6f;
  min-height: 12vh;
}

.navitem, .navitem a {
  color: rgb(43, 216, 197);
  text-decoration: none;
  text-align: center;
  flex-direction: row;
  font-size: 1em;
  padding: 3px 3px;
  /* so will be included within hover effects */
  margin: 0.5vh 1.5vw;
}

.nav-section {
  display: flex;
  max-width: 90vw;
  justify-content: center;
  flex-direction: column;
}

div.pagelinks .navitem a:hover {
  color: white;
  background-color: rgb(43, 216, 197);
}

#icon {
  max-height: 7vh;
}

div.current a {
  color: white;
  background-color: rgb(43, 216, 197);
}

/* Aside */

.aside {
  display: none;
  min-width: 10vw;
  max-width: 25vw;
  color: white;
  margin: auto;
  margin-top: 4px;
  border: 5px solid #706f6f;
}

/* Pinned element */

.pinned {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 10vw;
  min-width: 120px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(43, 216, 197);
}

#mailto {
  display: block;
  font-size: 1.5em;
  text-align: center;
}

#mailto a {
  color: black;
  text-decoration: none;
}

/* Grid (directory) - on mobile */

section.container-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.wrapper {
  display: block;
  padding: 50px 0px 40px 0px;
  max-width: 100vw;
  min-width: 70vw;
}

div.box {
  padding: 0px 10px 0px 30px;
  background-size: auto 100%;
  margin: 10px 10px;
}

div.box a {
  text-decoration: none;
  line-height: 50px;
  font-size: 25px;
}

/* Font size for text within grid */

div.box p:first-child {
  font-size: 1em;
  text-align: left;
}

div.box p:nth-child(2) {
  font-size: 0.6em;
  text-align: left;
}

/* Grid colours */

.one {
  background-color: #ffcfd8;
}

.two {
  background-color: #fcf0bf;
}

.three {
  background-color: #d9b9eb;
}

.four {
  background-color: #ffcfd8;
}

.five {
  background-color: #fcf0bf;
}

.six {
  background-color: #d9b9eb;
}

/* MEDIA QUERIES - for screen widths above 400px

(Query 1) To be applied at all widths above 400px */

@media(min-width:400px) {
  ul.social-link, .fg-nav, .nav-section, div.socmed-container-l1 {
    flex-direction: row;
  }
  div.navitem, div.navitem a {
    font-size: 1.2em;
    padding: 1vh 1vw;
    /* Note: padding will be included within hover effects */
    margin: 2vh 2vw;
  }
  h1 {
    font-size: 2em;
  }
  .pinned {
    display: flex;
  }
}

/* (Query 2) To be applied for medium widths only (400-600px) */

@media(min-width:400px) and (max-width:600px) {
  /* Display second paragraph in each div */
  p:nth-child(2) {
    display: flex;
  }
  div.navitem {
    font-size: 1em;
  }
}

/* (Query 3) To be applied for larger widths only (above 600px) */

@media(min-width:600px) {
  /* Display all paragraphs in each div */
  p:nth-child(n) {
    display: flex;
  }
  ul.story {
    display: block;
  }
  div.container-master {
    margin: 20px 40px;
  }
  div.container-l1 {
    min-width: 100%;
  }
}

/* (Query 4) To be applied for larger widths only (above 750px) */

@media(min-width:750px) {
  div.text {
    max-width: 65vw;
    padding: 0% 2%;
  }
  div.image {
    max-width: 65vw;
  }
  /* Display Twitter feed */
  .aside {
    display: flex;
  }
  div.container-master {
    flex-direction: row;
  }
  /* Grid (directory) - desktop */
  div.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(200px, auto);
    padding: 50px 0px 40px 0px;
    max-width: 100vw;
    min-width: 70vw;
  }
  div.box {
    background-size: auto 100%;
    text-align: center;
    padding: 10px;
    margin: 0px;
  }
  div.box a {
    display: block;
    text-decoration: none;
    line-height: 30px;
    font-size: 25px;
  }
  div.box a p {
    color: rgba(0, 0, 0, 0);
    /* makes text invisible */
    text-align: left;
  }
  div.box:hover a p {
    color: white;
  }
  div.box:hover {
    background-size: auto 100%;
  }
  /* Grid images and hover effects */
  .one {
    grid-column: 2;
    grid-row: 1;
    background-image: url("imagelib/brand_brothers.jpg");
    background-color: pink;
    /* colours here are in case images do not appear */
  }
  .one:hover {
    background: linear-gradient(rgba(232, 163, 86, 0.45), rgba(43, 216, 197, 0.45)), url("imagelib/brand_brothers.jpg");
    background-color: pink;
    /* colours here are in case images do not appear */
  }
  .two {
    grid-column: 1;
    grid-row: 1/3;
    background-image: url("imagelib/brand_howies.png");
    background-color: red;
  }
  .two:hover {
    background: linear-gradient(rgba(116, 144, 22, 0.45), rgba(43, 216, 197, 0.45)), url("imagelib/brand_howies.png");
    background-size: 100% auto;
    background-color: red;
  }
  .three {
    grid-column: 3;
    grid-row: 3;
    background-image: url("imagelib/brand_mayamiko.png");
    background-color: blue;
  }
  .three:hover {
    background: linear-gradient(rgba(255, 194, 141, 0.45), rgba(43, 216, 197, 0.45)), url("imagelib/brand_mayamiko.png");
    background-size: 100% auto;
    background-color: blue;
  }
  .four {
    grid-column: 2;
    grid-row: 2/4;
    background-image: url("imagelib/brand_pozu.png");
    background-color: yellow;
  }
  .four:hover {
    background: linear-gradient(rgba(99, 106, 124, 0.45), rgba(43, 216, 197, 0.45)), url("imagelib/brand_pozu.png");
    background-size: 100% auto;
    background-color: yellow;
  }
  .five {
    grid-column: 1;
    grid-row: 3;
    background-image: url("imagelib/brand_birdsong.png");
    background-color: green;
  }
  .five:hover {
    background: linear-gradient(rgba(255, 65, 145, 0.45), rgba(43, 216, 197, 0.45)), url("imagelib/brand_birdsong.png");
    background-size: 100% auto;
    background-color: green;
  }
  .six {
    grid-column: 3;
    grid-row: 1/3;
    background-image: url("imagelib/brand_peopletree.png");
    background-color: grey;
  }
  .six:hover {
    background: linear-gradient(rgba(229, 105, 0, 0.45), rgba(43, 216, 197, 0.45)), url("imagelib/brand_peopletree.png");
    background-size: 100% auto;
    background-color: grey;
  }
}
