/* This CSS is written for mobile-first, i.e. max-wdtih:400px */


/************************
Remove default browser settings
************************/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

/************************
Read more options
************************/

p, h1, h1, .navitem {
font-family: 'Source Sans Pro', sans-serif;
padding: 1%;
}


p {
  display: none;
}


/* eventually this should be mobile only */

p:first-child {
  display: flex;
}

/* p:nth-child(2) */

.read-more {
  display: block;
  text-align: right;
}

.read-more a:link {
  text-decoration: none;
  color: rgb(43, 216, 197);
}

.read-more a:visited {
  text-decoration: none;
  color: rgb(43, 216, 197);
}

.read-more a:hover, .read-more a:active {
  text-decoration: none;
  background-color: rgb(43, 216, 197);
  color: white;
}

/************************
Headers
************************/

h1 {
color: rgb(43, 216, 197);
font-size: 1.5em;
white-space: nowrap;
overflow: hidden;
width: 100%;
}

h2 {}

/************************
Paragraphs and other text
************************/

p {
  text-align: justify;
  font-size: 1.2em;
}

.l4 p {
  text-align: center;
  margin: auto;
}

.navitem {
  font-size: 1.5em;
  font-weight: bold;
  /* why does this work? */
}

/************************
Social media
************************/

.socmedia-img {
  padding: 2px;
  max-width: 20vw;
}

.facebook {
  min-width: 70px;
  min-height: 70px;
  background: url("file:///Users/gisellecory/Documents/GitHub/balu/imagelib/facebook.png") center/70% no-repeat;
  display: inline-block;
}

.facebook:hover {
  background: url("file:///Users/gisellecory/Documents/GitHub/balu/imagelib/facebook_black.png") center/70% no-repeat;
  display: inline-block;
  background-color: lightgrey;
}

.mailto {
  min-width: 70px;
  min-height: 70px;
  background: url("file:///Users/gisellecory/Documents/GitHub/balu/imagelib/email.png") center/70% no-repeat;
  display: inline-block;
}

.mailto:hover {
  background: url("file:///Users/gisellecory/Documents/GitHub/balu/imagelib/email_black.png") center/70% no-repeat;
  display: inline-block;
  background-color: lightgrey;
}

.twitter {
  min-width: 70px;
  min-height: 70px;
  background: url("file:///Users/gisellecory/Documents/GitHub/balu/imagelib/twitter.png") center/70% no-repeat;
  display: inline-block;
}

.twitter:hover {
  background: url("file:///Users/gisellecory/Documents/GitHub/balu/imagelib/twitter_black.png") center/70% no-repeat;
  display: inline-block;
  background-color: lightgrey;
}

.instagram {
  min-width: 70px;
  min-height: 70px;
  background: url("file:///Users/gisellecory/Documents/GitHub/balu/imagelib/instagram.png") center/70% no-repeat;
  display: inline-block;
}

.instagram:hover {
  background: url("file:///Users/gisellecory/Documents/GitHub/balu/imagelib/instagram_black.png") center/70% no-repeat;
  display: inline-block;
  background-color: lightgrey;
}

#social {
  display: flex;
  margin: auto;
}

.social-link a:link, .social-link a:visited {
  text-decoration: none;
}

#mailto {
  display: block;
  font-size: 1.5em;
}

p #mailto {
  text-align: center;
}

/************************
body and containers
************************/

body {
  width: 100vw;
  /*background-image: url("imagelib/pattern.png");*/
  background-color: lightgrey;
  overflow-x: hidden;
}

.container-overall, .container-l1, .container-l2, .container-l3, .container-l4, .container-master {
  display: flex;
  flex-direction: column;
}


div.container-overall {
  max-width: 95vw;
}

header {
  /* padding:2% 0%; */
}

/************************
 /* Footer
 ************************/

footer p {
  text-align: center;
  font-size: 1em;
  color: white;
  padding: 2% 5%;
  /* Note - good if this is same as for .col */
}

footer p.icon-attribution {
  display: inline-block;
}

footer a:link, footer a:visited {
  color: white;
}

footer a:hover, footer a:active {
  color: black;
  background-color: white;
}

/************************
 Header banner
 ************************/

 #header-img {
   width: 100vw;
   max-height: 10vw;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .header-banner {
   background-color: white;
   /* this is a quick fix to deal with the gap underneath the banner */
   padding: 0%;
   margin: 0%;
   margin-top:10px;
   margin-bottom:10px;
   display: none;
   /* turn this on for larger screens */
 }

/************************
/* Main grid
************************/

.container-l1, .container-l2, .container-l3, .container-l4 {
  padding: 2px;
  margin: 4px 10px;
  border-radius: 25px;
}

.col {
  max-width: 100vw;
  border-radius: 25px; /* so corners don't poke out at small sizes */
}

.container-master {
  background-color:white;
  display:flex;
  align-items: center;
justify-content: center;
}

.feature-img {
  display: block;
  margin: auto;
}

/*
div.image {
  vertical-align: middle;
  margin: 0% 2% 3% 2%; /* top ones are smaller (caompared to text divs), to minimise gaps in mobile version */ /*
  padding: 5px 5px;
}
*/

div.image
{
  display:block;
/*
  width:50%;
  position: relative;
  overflow: hidden;
  margin:4%;
  order: 2;
  padding: 0px 5px 2px 5px; /* top right bottom left */
/* padding: 40% 0 10% 0; */
}

div.text {
  order: 1;
  margin: 1% 2%;
  padding: 5px 5px;
}

/************************
/* Navigation
************************/

.fg-nav {
  min-height: 10vh;
  max-height: 50vh;
  background-color: inherit;
  /* background-image: url("imagelib/pattern.png"); /* Make this a bit faded */
  padding: 20px 5px 10px 5px; /* top right bottom left */
  max-width: 350px;
  margin: auto;
  display:flex;
  align-items: center;
  flex-direction: column;
  }

.navitem, .navitem a {
  color: rgb(43, 216, 197);
  text-decoration: none;
  font-size: 1.1em;
  text-align: center;
  padding: 2px 1vw;
  margin: 5px; /* top and bottom, left and right */
  flex-direction: row;
}

.nav-section {
    display: flex;
    max-width:90vw;
    justify-content:center;
    flex-direction: column;
}

.navitem a:hover {
  color: white;
}

#icon {
  max-height: 7vh;
}

div.flex-box {
  display:flex;
  flex-direction:row;
}

/************************
/* Aside
************************/

.aside {
  display: none;
  min-width: 10vw;
  max-width: 25vw;
  color: white;
  margin:auto;
  margin-top:4px;
  /* margin: 4px 15px 4px 10px; /* top right bottom left */
}

.twitter-timeline {
  /* max-height: 150vh;*/
}


/************************
/* Bigger screens
************************/

/* To be applied at all widths above 400px */

@media(min-width:400px) {
  .fg-nav {
  /* max-width:90vw; */
}
.fg-nav, .nav-section {
    flex-direction: column;
}
.navitem, .navitem a {
font-size: 1.2em;
padding-top: 50px;
}


.header-banner {
display:flex;
/* temp fix while wait on header image */
width:100vw;
height:6vh;
background:rgb(43, 216, 197);
background-image: url("imagelib/pattern.png");
background-repeat:repeat-x;
background-position: left;
background-size:30%;
margin:10px 0px 10px 0px;
}
div.container-overall {
  margin:10px 10px 10px 10px;
}

}

/* To be applied for medium widths only */

@media(min-width:400px) and (max-width:600px) {
p:nth-child(2) {
  display:flex;
}
div.container-overall {
  max-width: 85vw;
}

}

/* To be applied for larger widths only */

@media(min-width:600px) {
p:nth-child(n) {
  display:flex;
}
div.container-overall {
  max-width: 75vw;
}
}

@media(min-width:750px) {
  div.container-master {
    padding: 0px 20px 0px 20px; /* top right bottom left */
    /* this bit is unncessary at the mo */
    align-items:flex-start;
    margin:20px 40px;
  }

.aside {
  display:flex;
}
.container-master {
  flex-direction: row;
}

}

@media(min-width:900px) {
.container-l1, .container-l2, .container-l3 {
  flex-direction: column; /* Move images to the side if have row entered */
}
div.text {
  order: 0;
  max-width:65vw;
/*  min-width:55vw; */
  padding:0% 2%; /* top right bottom left */
}

#left-pic-text {
  margin-left:0;
}

div.image {
  order: 0;
}
   /*
  display:flex;
  align-items: center;
  vertical-align: middle;
  margin: 0%; /* top ones are smaller (caompared to text divs), to minimise gaps in mobile version *//*
  padding: 0%;
}
.feature-img {
  max-width:80%;
  max-height:80%
}
*/

#social {
display:flex;
align-items: center;
vertical-align: middle;
margin: 0%; /* top ones are smaller (caompared to text divs), to minimise gaps in mobile version */
padding: 0%;
}

.container-l4 {
  flex-direction: row;
}

#mailto-div {
  display:flex;
  align-items: center;
  padding:0;
  min-width:40%;
}
}


/* ************ */
/* Directory page */
/* ************ */

div.narrow {
  background-color: white;
  max-width: 75vw;
  padding:1%;
  margin:2%;
}

section.container-grid {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}


/* ************ */
/* Grid (directory) */
/* ************ */

   /* Structure */

   .three-column {
     padding: 1em;
     column-count: 3;
     -moz-column-count: 3;
     -webkit-column-count: 3;
     column-gap: 40px;
     -moz-column-gap: 40px;
     -webkit-column-gap: 40px;
     -webkit-column-width: 250px;
   }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(120px, auto);
    background-color: white;
    font-style:oblique;
    padding: 40px 20px 40px 20px;
    max-width: 90vw;
  }

  .box {
    color:rgba(0, 0, 0, 0);
    padding: 0px 10px 0px 10px; /* top right bottom left */
    background-size: 100% auto;
  }

  .box a {
    display: block;
    color:rgba(0, 0, 0, 0);
    text-decoration: none;
    line-height: 30px;
    text-align:center;
    font-size:25px;
}

  .box:hover {
    line-height: 30px;
    text-align:center;
    font-size:25px;
    color:white;
    padding:10px;
    margin: 0px;
  /*  background-size: 100% auto; It doesn't listen to this command so put in individually */
    background-color: black;
}

.box:hover a {
  color:white;
}

  .one {
    grid-column: 2;
    grid-row: 1;
    background-image:url("imagelib/brand_brothers.png");
    background-color:pink;
  }

  .one:hover {
    background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(232, 163, 86, 0.45)), url("imagelib/brand_brothers.png");
    background-size: 100% auto;
    }

  .two {
    grid-column: 1;
    grid-row: 1/3;
    background-image:url("imagelib/brand_howies.png");
    background-color:red;
  }

  .two:hover {
    background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(116, 144, 22, 0.45)), url("imagelib/brand_howies.png");
    background-size: 100% auto;
  }

  .three {
    grid-column: 3;
    grid-row: 3;
    background-image:url("imagelib/brand_mayamiko.png");
    background-color:blue;
  }

  .three:hover {
    background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 194, 141, 0.45)), url("imagelib/brand_mayamiko.png");
background-size: 100% auto;
  }

  .four {
    grid-column: 2;
    grid-row: 2/4;
    background-image:url("imagelib/brand_pozu.png");
    background-color:yellow;
  }

  .four:hover {
    background: linear-gradient(rgba(99, 106, 124, 0.45), rgba(99, 106, 124, 0.45)),
    url("imagelib/brand_pozu.png");
    background-size: 100% auto;
  }

  .five {
    grid-column: 1;
    grid-row: 3;
    background-image:url("imagelib/brand_birdsong.png");
    background-color:green; /* incase image doesn't show */
  }

  .five:hover {
    background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 65, 145, 0.45)),
    url("imagelib/brand_birdsong.png");
    background-size: 100% auto;
  }

  .six {
    grid-column: 3;
    grid-row: 1/3;
    background-image:url("imagelib/brand_peopletree.png");
    background-color:grey;
  }

  .six:hover {
    background: linear-gradient(rgba(249, 105, 0, 0.45), rgba(229, 105, 0, 0.45)), url("imagelib/brand_peopletree.png");
    background-size: 100% auto;
  }

  div.box p:first-child {
    font-size:1em;
    text-align: center;
  }

div.box p:nth-child(2) {
  font-size:0.6em;
}
