
align-items: center;



/************************
Responsive
************************/

/* *********
Big
********** */

@media(min-width:700px){
  .container-l1, .container-l2, .container-l3, .container-l4 {
    /* padding: 10px 10px 10px 10px;
    margin: 5px 10px; */
  }
  .container-l1, .container-l2, .container-l3, .container-l4, .header-nav, .fg-nav {
    flex-direction:row;
    }
  .container-overall {
    flex-direction:column;
    }
  .fg-nav {
    }
  .navitem {
  }
  .col {
    max-width:40vw;
    min-width:25vw;
    }
  .feature-img {
    max-width:100%;
    }
  .twitter-timeline {
    max-width:20vw;
    max-height:2000px;
    }
  .container-master {
    flex-direction: row;
    }
  .header-nav {
    min-height:80px;
    max-height:15vh;
    }
  }

/* Medium */
@media(min-width:4  00px) and (max-width:700px) {
  .container-l1, .container-l2, .container-l3, .container-l4 {
  /*  padding: 10px 10px 10px 10px;
    margin: 5px 10px; */
  }

  .container-overall, .container-l1, .container-l2, .container-l3, .container-l4 {
    flex-direction:column;
    }
  .col {
    max-width:90vw;
    min-width:70vw;
    }
  .twitter-timeline {
    width:50%;
    height:20%;
  }
  .feature-img {
    width:100%;
    height:100%;
    /* padding:15px;*/
    }
  .container-master {
    flex-direction: column;
  }
  .header-nav {
    min-height:80px;
    max-height:15vh;
    }
}

/* Mobile */
 @media(max-width:400px) {
